In [3]:
data <- read.csv("Auto.csv")
head(data)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

Punkt 1

In [4]:
mean_usage <- mean(data$mpg, na.rm = TRUE)
print(mean_usage)

[1] 23.51587

Punkt 2

In [6]:
data_4_cyl <- subset(data, cylinders == 4)
mean_mpg_4_cyl <- mean(data_4_cyl$mpg, na.rm = TRUE)

print(mean_mpg_4_cyl)

[1] 29.31773

Punkt 3

In [7]:
median_weight <- median(data$weight, na.rm = TRUE)

print(median_weight)

[1] 2800

Punkt 4

In [10]:
data_1972 <- data[data$year == 72, ]
mean_mpg_1972 <- mean(data_1972$mpg, na.rm = TRUE)

print(mean_mpg_1972)

[1] 18.71429

Punkt 5

In [9]:
var_acceleration <- var(data$acceleration, na.rm = TRUE)

print(var_acceleration)

[1] 7.562474

Punkt 6

In [11]:
japanese <- data[data$origin == 3, ]
var_acceleration_japanese <- var(japanese$acceleration, na.rm = TRUE)

print(var_acceleration_japanese)

[1] 3.821779

Punkt 7

In [13]:
mean_horsepower <- mean(as.numeric(data$horsepower), na.rm = TRUE)
above_average <- sum(as.numeric(data$horsepower) > mean_horsepower, na.rm = TRUE)

print(above_average)

Warning message in mean(as.numeric(data$horsepower), na.rm = TRUE):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] 148

Punkt 8

In [14]:
mean_weigth <- mean(data$weight, na.rm = TRUE)
below_average_weight <- data[data$weight < mean_weigth, ]
max_power <- max(below_average_weight$horsepower, na.rm = TRUE)

print(max_power)

[1] "98"

Punkt 9

In [16]:
mean_mpg <- mean(data$mpg, na.rm = TRUE)
above_average_mpg <- data[data$mpg > mean_mpg, ]
amount_above <- nrow(above_average_mpg)

print(amount_above)

[1] 189

Punkt 10

In [17]:
min_cylinders <- min(above_average_mpg$cylinders)

print(min_cylinders)

[1] 3

Punkt 11

In [18]:
max_volume <- max(data$displacement, na.rm = TRUE)
max_volume_cars <- data[data$displacement == max_volume, ]
max_volume_cars_amount <- nrow(max_volume_cars)

print(max_volume_cars_amount)

[1] 3

Punkt 12

In [ ]:
volume_median <- median(data$displacement, na.rm = TRUE)
below_median <- data[data$displacement < volume_median, ]
max_weigth<- max(samochody_mniejsze_od_mediany$weight, na.rm = TRUE)

# Wyświetl wynik
print(maksymalna_waga)